{{#if session.isAuthenticated}}
{{#paper-toolbar class="md-menu-toolbar" as |toolbar|}}
   {{#toolbar.tools}}
   {{#paper-sidenav-toggle name="left" as |toggleAction|}}
     {{#paper-button  classNames="hide-gt-sm" onClick=(action toggleAction)}}
      {{paper-icon "menu"}}
     {{/paper-button}}
   {{/paper-sidenav-toggle}}
   <h3 class="logo">noteblox</h3>
   <span class="flex"></span>
	{{#paper-item }}
	{{#if session.isAuthenticated}}
	  {{paper-icon "icon-briefcase"}}
	 <button class="logoutBtn" {{action 'invalidateSession'}}>Logout</button>
        {{else}}
       {{#link-to 'login'}}
        {{paper-icon "icon-briefcase"}}
        Login
      {{/link-to}}
      {{/if}}
     {{/paper-item}}
    {{layout.authorization-ui}}
     {{#paper-button mini=true aria-label="Favorite"}}
      {{paper-icon "favorite"}}
     {{/paper-button}}
   {{/toolbar.tools}}
 {{/paper-toolbar}}

 {{#paper-sidenav-container  class="site-sidenav"}}

   {{#paper-sidenav class="md-sidenav-left " name="left" open=leftSideBarOpen onToggle=(action (mut leftSideBarOpen)) }}
    {{#paper-toolbar class="md-menu-toolbar" as |toolbar|}}
      {{#toolbar.tools}}
        {{#if false }}
          <img class="avatar" src="{{sessionAccount.account.avatarUrl}}">
        {{else}}
          {{ember-initials class="avatar"
            size=50
            name=sessionAccount.account.name
            seedText=sessionAccount.account.name
            defaultName="?"
            textColor="white"
            fontSize=55
            fontWeight=100
            fontFamily="Helvetica Neue Light, Arial, sans-serif"
          }}
        {{/if}}
        <h4><small>Signed in as</small><br>{{sessionAccount.account.name}}</h4>
        <span class="flex"></span>
        {{#paper-button  onClick=(route-action "invalidateSession") aria-label="Logout"}}
         {{paper-icon "settings-power"}}
        {{/paper-button}}
      {{/toolbar.tools}}
    {{/paper-toolbar}}

     {{#paper-list}}

       {{#paper-item  onClick=(action (transition-to "home"))}}
        {{paper-icon "home"}}
        <p>Home</p>
       {{/paper-item}}
       {{#paper-item  onClick=(action (transition-to "accountandprofile"))}}
        {{paper-icon "account-box"}}
        <p>Account</p>
       {{/paper-item}}
       {{#paper-item  onClick=(action (transition-to "configureapps"))}}
        {{paper-icon "folder"}}
        <p>Configure Apps</p>
       {{/paper-item}}
       {{#paper-item  onClick=(action (transition-to "spaces"))}}
        {{paper-icon "folder"}}
        <p>Spaces</p>
       {{/paper-item}}
       {{#paper-item  onClick=(action (transition-to "statistics"))}}
        {{paper-icon "timeline"}}
        <p>Statistics</p>
       {{/paper-item}}

       {{#paper-subheader}}3Administration{{/paper-subheader}}

       {{#paper-item  onClick=(action (transition-to "systemsettings"))}}
        {{paper-icon "timeline"}}
        <p>System Settings</p>
       {{/paper-item}}
       {{#paper-item  onClick=(action (transition-to "users"))}}
        {{paper-icon "timeline"}}
        <p>User Accounts</p>
       {{/paper-item}}
       {{#paper-item  onClick=(action (transition-to "clientplans"))}}
        {{paper-icon "timeline"}}
        <p>Client Plans</p>
       {{/paper-item}}

       {{#paper-item  onClick=(action (transition-to "billing"))}}
        {{paper-icon "timeline"}}
        <p>Billing</p>
       {{/paper-item}}

     {{/paper-list}}

   {{/paper-sidenav}}

   <div class="flex">
   {{#paper-toolbar class="md-menu-toolbar" as |toolbar|}}
         {{#toolbar.tools}}
          {{bread-crumbs tagName="ol"  linkable=true}}
         {{/toolbar.tools}}
       {{/paper-toolbar}}


  {{outlet}}

  </div>

{{/paper-sidenav-container}}


{{/if}}
{{#unless session.isAuthenticated}}
   {{outlet}}
{{/unless}}
