{{#if session.isAuthenticated}}
{{#paper-toolbar class="md-menu-toolbar" as |toolbar|}}
   {{#toolbar.tools}}
   {{#paper-sidenav-toggle name="left" as |toggleAction|}}
     {{#paper-button  classNames="hide-gt-sm" onClick=(action toggleAction)}}
      {{paper-icon "menu"}}
     {{/paper-button}}
   {{/paper-sidenav-toggle}}
   <h3 class="logo">noteblox</h3>
   <span class="flex"></span>
	{{#paper-item }}
	{{#if session.isAuthenticated}}
	  {{paper-icon "icon-briefcase"}}
	 <button class="logoutBtn" {{action 'invalidateSession'}}>Logout</button>
        {{else}}
       {{#link-to 'login'}}
        {{paper-icon "icon-briefcase"}}
        Login
      {{/link-to}}
      {{/if}}
     {{/paper-item}}
    {{layout.authorization-ui}}
     {{#paper-button mini=true aria-label="Favorite"}}
      {{paper-icon "favorite"}}
     {{/paper-button}}
   {{/toolbar.tools}}
 {{/paper-toolbar}}

 {{#paper-sidenav-container  class="site-sidenav"}}

   {{#paper-sidenav class="md-sidenav-left " name="left" open=leftSideBarOpen onToggle=(action (mut leftSideBarOpen)) }}

     {{#paper-card as |card|}}

       {{#card.header as |header|}}

         {{#header.avatar}}

         <img src="http://www.gravatar.com/avatar/b701fb8a351a8a30adf58380edf2317c?s=60&d=identicon">

         {{/header.avatar}}

         {{#header.text as |text|}}

           {{#text.subhead}} Signed in as {{/text.subhead}}

           {{#text.title}} {{sessionAccount.account.name}}  {{/text.title}}

         {{/header.text}}

       {{/card.header}}

        {{#if session.isAuthenticated}}

       {{#card.actions class="layout-column"}}

       <button class="logoutBtn" {{action 'invalidateSession'}}>Logout</button>

       {{/card.actions}}

        {{/if}}

     {{/paper-card}}

     {{#paper-list}}

       {{#paper-item }}

         {{#link-to 'home' }}

                   {{paper-icon "home"}}

                   Home

         {{/link-to}}

       {{/paper-item}}

       {{#paper-item }}

         {{#link-to 'accountandprofile' }}

                   {{paper-icon "account-box"}}

                   Account

         {{/link-to}}

       {{/paper-item}}

       {{#paper-item }}

         {{#link-to 'configureapps' }}

                   {{paper-icon "folder"}}

                   Configure Apps

         {{/link-to}}

       {{/paper-item}}

       {{#paper-item }}

         {{#link-to 'spaces' }}

                   {{paper-icon "folder"}}

                   Spaces

         {{/link-to}}

       {{/paper-item}}

       {{#paper-item }}

         {{#link-to 'statistics' }}

                   {{paper-icon "timeline"}}

                   Statistics

         {{/link-to}}

       {{/paper-item}}

       {{#paper-subheader}}3Administration{{/paper-subheader}}

       {{#paper-item }}

        {{#link-to 'systemsettings'}}

           System Settings

        {{/link-to}}

       {{/paper-item }}

       {{#paper-item }}

        {{#link-to 'users'}}

           User Accounts

        {{/link-to}}

       {{/paper-item }}

       {{#paper-item }}

        {{#link-to 'clientplans'}}

           Client Plans

        {{/link-to}}

       {{/paper-item }}

       {{#paper-item }}

        {{#link-to 'billing'}}

           Billing

        {{/link-to}}

       {{/paper-item }}

     {{/paper-list}}

   {{/paper-sidenav}}

   <div class="flex">

  {{outlet}}

  </div>

{{/paper-sidenav-container}}
{{/if}}
{{#unless session.isAuthenticated}}
   {{outlet}}
{{/unless}}
