
{{login-js-inject}}
        
        <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
        <!-- Icons -->
     <!--   <link href="/assets/font-awesome.min.css" rel="stylesheet">
        <link href="/assets/simple-line-icons.css" rel="stylesheet">
        <!-- Main styles for this application --> 
       <!-- <link href="/assets/style.css" rel="stylesheet"> -->
    
    
        <div id="loginForm" class="container">
            <div class="row">
                <div class="col-md-8 m-x-auto pull-xs-none vamiddle">
                    <div class="card-group ">
                        <div class="card p-a-2">
                            <div class="card-block">
                                <h1>Login</h1>
                                <form {{action 'authenticate' on='submit'}}>

                                <p class="text-muted">Sign In to your account</p>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                   <label for="identification"></label>
                                    {{input id=identification placeholder='Username' class='form-control' value=identification}}
                                </div>
                                <div class="input-group m-b-2">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <label for="password" ></label>
                                     {{input id=password value=password placeholder='Password' class='form-control' type='password'}}
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button id='login-btn' type="submit" class="btn btn-primary p-x-2">Login  </button>
                                       <!-- {{input value=identification placeholder='Enter Login' class='form-control'}} -->
                                    </div>
                                    <div class="col-xs-6 text-xs-right">
                                        {{#link-to 'forgot-password'}}
                                        <button type="button" class="btn btn-link p-x-0">Forgot password?</button>
                                         {{/link-to}}
                                    </div>
                                </div>
                                </form>
                                {{#if errorMessage}}
                                <p>
                                    <strong>Login failed:</strong>
                                  <code>{{errorMessage}}</code>
                                </p>
                                {{/if}}   
                            </div>
                        </div>
                        <div class="card card-inverse card-primary p-y-3" style="width:44%">
                            <div class="card-block text-xs-center">
                                <div>
                                    <h2>Sign up</h2>
                                   
                                    {{#link-to 'register'}}
                                    <button type="button" class="btn btn-primary active m-t-1">Register Now!</button>
                                    {{/link-to}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
