{{signup-form user=model}}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="CoreUI Bootstrap 4 Admin Template">
        
        <meta name="keyword" content="CoreUI Bootstrap 4 Admin Template">
        <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
        <title>CoreUI Bootstrap 4 Admin Template</title>
        <!-- Icons -->
        <link href="../../vendor/font-awesome.min.css" rel="stylesheet">
        <link href="../../vendor/simple-line-icons.css" rel="stylesheet">
        <!-- Main styles for this application -->
        <link href="../../vendor/style.css" rel="stylesheet">
   <head> </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-5 m-x-auto pull-xs-none vamiddle">
                    <div class="card">
                        <div class="card-block p-a-2">
                           <form {{action "submit" on="submit"}}>
                            <h1>Register</h1>
                            <p class="text-muted">Create your account</p>
                            <div class="input-group m-b-1">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <label for="username">Username</label>
                                {{input value=user.name placeholder="Username"}}
                                
                               
                            </div>
                            <div class="input-group m-b-1">
                                <span class="input-group-addon">@<i></i>
                                </span>
                                 <label for="email">Email</label>
                                {{input value=user.email placeholder="Email"}}
                                 
                                
                            </div>
                            <div class="input-group m-b-1">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <label for="password">Password</label>
                                  {{input value=user.password type="password" placeholder="Password"}}
                            </div>
                            <div class="input-group m-b-2">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <label for="passwordConfirmation">Repeat password</label>
                               {{input value=user.passwordConfirmation type="password" placeholder="enter password again"}}

                            </div>
                           
                            <button type="submit" class="btn btn-block btn-success">Create Account</button>
                            </form>
                        </div>
                        {{#if errorMessage}}
                           {{errorMessage}}
                        {{/if}}
                        <div class="card-footer p-a-2">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-facebook" type="button">
                                        <span>facebook</span>
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-twitter" type="button">
                                        <span>twitter</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap and necessary plugins -->
     <!--   <script src="../../assets/js/libs/jquery.min.js"></script>
        <script src="../../assets/js/libs/tether.min.js"></script>
        <script src="../../assets/js/libs/bootstrap.min.js"></script>
        <script>
        function verticalAlignMiddle()
        {
            var bodyHeight = $(window).height();
            var formHeight = $('.vamiddle').height();
            var marginTop = (bodyHeight / 2) - (formHeight / 2);
            if (marginTop > 0)
            {
                $('.vamiddle').css('margin-top', marginTop);
            }
        }
        $(document).ready(function()
        {
            verticalAlignMiddle();
        });
        $(window).bind('resize', verticalAlignMiddle);
        </script> -->
       <!-- {{signup-form user=model triggerSave=(action "save") errorMessage=errorMessage}}-->
    </body>
   