<p>
  {{link-to "Space list" "spaces.index" }}
</p>

<h1>Space show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Title:</strong>
  <span>{{model.title}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

<p>
  <strong>Avatarurl:</strong>
  <span>{{model.avatarUrl}}</span>
</p>

<p>
  <strong>Bannerurl:</strong>
  <span>{{model.bannerUrl}}</span>
</p>

<p>
  <strong>Visibility:</strong>
  <span>{{model.visibility}}</span>
</p>

