{{#paper-card as |card|}}
  {{#paper-toolbar class="md-menu-toolbar" as |toolbar|}}
    {{#toolbar.tools class="layout-row"}}
      <span class="flex"></span>
      <h2>Current Members</h2>
      <span class="flex"></span>
    {{/toolbar.tools}}
  {{/paper-toolbar}}

    {{#if model.length}}
      {{#paper-list}}
       {{#each model as |item|}}
         {{#paper-item class="md-2-line" as |controls| }}
           {{#if item.user.avatarUrl}}
             <img src={{item.user.avatarUrl}} alt={{item.user.name}} class="md-avatar">
           {{else}}
             {{ember-initials class="md-avatar"
                 size=50
                 name=item.user.name
                 seedText=item.user.name
                 defaultName='?'
                 textColor="white"
                 fontSize=55
                 fontWeight=100
                 fontFamily="Helvetica Neue Light, Arial, sans-serif"
             }}
           {{/if}}
           <div class="md-list-item-text">
             <h3>{{item.user.name}} <span class="username">({{item.user.username}})</span></h3>
             <p>Member joined {{moment-to-now item.createdDate}} {{#if item.admin}}admin{{/if}} </p>
           </div>
         {{/paper-item}}
       {{/each}}
      {{/paper-list}}
      {{#if model.meta.documentLinks}}
        {{#card.actions class="layout-row"}}
          {{#each-in model.meta.documentLinks as |key value|}}
            {{#paper-button href=value.href}}{{key}}{{/paper-button}}
          {{/each-in}}
        {{/card.actions}}
      {{/if}}

    {{else}}

      {{#card.content}}
        <p>
         This space has no members.
        </p>
      {{/card.content}}

    {{/if}}

{{/paper-card}}



