<p>
  {{link-to "Issue-comment list" "issue-comments.index" }}
</p>

<h1>Issue-comment show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Title:</strong>
  <span>{{model.title}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

<p>
  <strong>Visibility:</strong>
  <span>{{model.visibility}}</span>
</p>

