{{login-js-inject}}

        <div id="loginForm" class="container">
            <div class="row">
                <div class="col-md-8 m-x-auto pull-xs-none vamiddle">
                    <div class="card-group ">
                        <div class="card p-a-2">
                            <div class="card-block">
                              <h2>
                              <em>Noteblox</em>
                              </h2>
                               <!--<form {{action 'authenticate' on='submit'}}>-->
                               {{#paper-form onSubmit=(action "authenticate") as |form|}}
                                <div class="layout-column flex-50">
                                <p class="text-muted">Sign In to your account</p>
                                <div class="input-group m-b-1">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                   <label for="identification"></label>

                                     {{form.input id="identification" label="Username" type="text" value=identification onChange=(action (mut identification)) required=true}}
                                </div>
                                <div class="input-group m-b-2">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <label for="password" ></label>

                                     {{form.input id="password" label="Password"  type='password' value=password onChange=(action (mut password)) required=true}}
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-6">

                                        {{#form.submit-button raised=true id='login-btn' primary=true}}Login{{/form.submit-button}}
                                       <!-- {{input value=identification placeholder='Enter Login' class='form-control'}} -->
                                    </div>
                                    <br>
                                    <div class="col-xs-6 text-xs-right">
                                        {{#link-to 'auth.forgot-password'}}
                                        {{#paper-button raised=true primary=true action="targetButton" target=component}}Forgot password?{{/paper-button}}
                                         {{/link-to}}
                                         {{#link-to 'auth.register'}}
                                           {{#paper-button raised=true primary=true action="targetButton" target=component}}Register Now!{{/paper-button}}
                                         {{/link-to}}
                                    </div>
                                </div>
                                <!--</form>-->
                              </div>
                                {{/paper-form}}
                                {{#if errorMessage}}
                                <p>
                                    <strong>Login failed:</strong>
                                  <code>{{errorMessage}}</code>
                                </p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
