 {{#paper-form onSubmit=(route-action "save" ) as |form|}}
  <div>
    <label>
       {{form.input id="pk" label=" Pk" type="text" value=model.pk onChange=(action (mut model.pk)) required=true}}
    </label>
  </div>
  <div>
    <label>
      {{form.input id="username" label=" Username" type="text" value=model.username onChange=(action (mut model.username)) required=true}}
    </label>
  </div>
  <div>
    <label>
      {{form.input id="firstname" label=" Firstname" type="text" value=model.firstName onChange=(action (mut model.firstName)) required=true}}
    </label>
  </div>
  <div>
    <label>
       {{form.input id="''lastname''" label=" Lastname" type="text" value=model.lastName onChange=(action (mut model.lastName)) required=true}}
    </label>
  </div>
  <div>
    <label>
      {{form.input id="email" label=" Email" type="text" value=model.email onChange=(action (mut model.email)) required=true}}
    </label>
  </div>
  <div>
    <label>
       {{form.input id="password" label=" Password" type="password" value=model.password onChange=(action (mut model.password)) required=true}}
    </label>
  </div>
  <div>
    <label>
       {{form.input id="passwordconfirmation" label=" Passwordconfirmation" type="password" value=model.passwordConfirmation onChange=(action (mut model.passwordConfirmation)) required=true}}
    </label>
  </div>
  <div>
    {{#form.submit-button type="submit" raised=true id='save-btn' value="Save" primary=true}}Save{{/form.submit-button}}
  </div>
{{/paper-form}}