

<h1>Users list</h1>

{{#if model.length}}


  {{#paper-list}}
    {{#paper-subheader}}3 line item{{/paper-subheader}}
    {{#each model as |user|}}
      {{#paper-item class="md-3-line" onClick=(action (transition-to "users.show" user)) as |controls| }}

        {{#if user.avatarUrl}}
          <img src={{user.avatarUrl}} alt={{user.name}} class="md-avatar">
        {{else}}
          {{ember-initials class="md-avatar"
            size=50
            name=user.name
            seedText=ser.name
            defaultName="?"
            textColor="white"
            fontSize=55
            fontWeight=100
            fontFamily="Helvetica Neue Light, Arial, sans-serif"
          }}
        {{/if}}
        <div class="md-list-item-text">
        <h3>{{user.username}}</h3>
        <h4>{{user.name}}</h4>
        <p>{{user.description}}</p>
        </div>
        {{paper-icon "settings"}}
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}


{{else}}

  <p id="blankslate">
    No Users found {{link-to "Add" "users.new" }}
  </p>


{{/if}}

