

<p>
  {{link-to "User list" "users.index" }}
</p>

<h1>User show</h1>

<p>
  <strong>Pk:</strong>
  <span>{{model.pk}}</span>
</p>

<p>
  <strong>Username:</strong>
  <span>{{model.username}}</span>
</p>

<p>
  <strong>Firstname:</strong>
  <span>{{model.firstName}}</span>
</p>

<p>
  <strong>Lastname:</strong>
  <span>{{model.lastName}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

<p>
  <strong>Password:</strong>
  <span>{{model.password}}</span>
</p>

<p>
  <strong>Passwordconfirmation:</strong>
  <span>{{model.passwordConfirmation}}</span>
</p>

