 {{#paper-tabs as |tabs|}}
    {{#tabs.tab label="Members"}}
      {{#paper-list}}
      {{#paper-subheader}}3 line item{{/paper-subheader}}
    {{#each model as |user|}}
    {{#paper-item class="md-3-line"}}

      <div class="md-list-item-text">
      <h3>{{user.pk}}</h3>
      <h4>{{user.username}}</h4>
      <h4>{{user.firstName}}</h4>
      <h4>{{user.lastName}}</h4>
      <h4>{{user.email}}</h4>
      <h4>{{user.password}}</h4>
      <p>{{user.passwordConfirmation}}</p>
      </div>
    {{/paper-item}}
  {{/each}}
{{/paper-list}}
    {{/tabs.tab}}
    {{#tabs.tab as |tab|}}
      {{#tab.label}}
        Settings  
      {{/tab.label}}
      
      {{#tab.body}}
        {{#paper-form  as |form|}} <!-- onSubmit=(action "delete") -->

        <h2> Profile </h2>
        <div class="layout-row">
            <div class="layout-column flex-50">
            {{form.input id="name" label="Name" value=name onChange=(action (mut name)) required=true}}
            {{form.input id="email" label="Email" value=email onChange=(action (mut email))}}
            </div>
        </div>
        <br>
        Delete Organization
        <br>
        Deleting an organization is irreversible. All associated apps will also be removed
        <div class="layout-row">
            {{#form.submit-button id="delete" raised=true warn=true primary=true}}Delete...{{/form.submit-button}}
        </div>
     {{/paper-form}}
      {{/tab.body}}
    {{/tabs.tab}}
    {{#tabs.tab as |tab|}}
    {{#tab.label}}
        Billing  
      {{/tab.label}}
      
      {{#tab.body}}
        <h2>Coming Soon!</h2>
      {{/tab.body}}
      {{/tabs.tab}}
  {{/paper-tabs}}