<h1>Organizations list</h1>

<p>
  {{link-to "New Organization" "organizations.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Legalname
        </th>
        <th>
          Email
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |organization|}}
        <tr>
          <td>
            {{organization.name}}
          </td>
          <td>
            {{organization.legalName}}
          </td>
          <td>
            {{organization.email}}
          </td>
          <td>
            {{link-to "Edit" "organizations.edit" organization}}
          </td>
          <td>
            {{link-to "Show" "organizations.show" organization}}
          </td>
          <td>
            <a href="#" {{action "remove" organization}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Organizations found
  </p>
{{/if}}
